<form (ngSubmit)="register()" #form="ngForm" autocomplete="off">
    <h2 class="text-center text-primary ">sign up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-Control" name="username" [(ngModel)]="model.username" 
        placeholder="Username">
    </div> 

    <div class="form-group">
        <label>who is your favourite user</label>
        <select class="form-Control">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div> 

    <div class="=form-group">
        <input type="password" class="form-Control" password="password"
        [(ngModel)]="model.password" placeholder="password">
    </div>
          <hr>
          
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
